# Source
src/

# Tests
test/
coverage/
*.test.ts
*.spec.ts

# Config files
.eslintrc
.prettierrc
tsconfig.json
.editorconfig
.gitignore
.npmrc

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Misc
.DS_Store 

set_env.sh
.*rules