registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/dist
# node-sass相关镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass
# electron相关镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
# puppeteer相关镜像
puppeteer_download_host=https://npmmirror.com/mirrors
# chromedriver相关镜像
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
# operadriver相关镜像
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
# phantomjs相关镜像
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
# selenium相关镜像
selenium_cdnurl=https://npmmirror.com/mirrors/selenium
# node-inspector相关镜像
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector

# pnpm config
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true 